{% extends "layout.html" %}
{% block content %}


<div id="wrapper">
  <div id="header">
    <h1><a href="index.htm" title="Return to the home page">Let's get to know more about you</a></h1>
  </div>

    <div id="mainNav">
    <ul id="baseNav">
      <li><a href="tours.htm" title="Explore our tours" class="tours">Home</a></li>
      <li><a href="mission.htm" title="What we think" class="mission">Trend</a></li>
      <li><a href="contact.htm" title="Contact and support" class="contact current">Newsfeed</a></li>
      <li><a href="resources.htm" title="Guidance and planning" class="resources">Upcoming Events</a></li>
    </ul>
  </div>

  <div id="mainContent">
    <h1 id="pageID">Contact</h1>
    <div id="mainArticle">
      <div id="contact">
        <p>Would you like more information? Please drop us a line, we'd love to hear from you!</p>
        <form id="frmContact" name="frmContact" method="POST" action="/userInfo">
          <fieldset id="personalInfo">
            <legend><strong>Personal Information</strong></legend>
            <p>
              {{form.nickName.label}}
              {{form.nickName}}
              
            </p>
            <p>
              {{form.email.label}}
              {{form.email}}
            </p>
            <p>
              {{form.phone.label}}
              {{form.phone}}
            </p>

            <p>
              {{form.city.label}}
              {{form.city}}
            </p>
            <!--
            <p>
              <label for="state">State</label>
              <select name="state" id="state" tabindex="150">
                <option value="None"> None </option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KA">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
              -->
              {{form.state.label}}
              {{form.state}}
            </p>
            <p>
              {{form.zipcode.label}}
              {{form.zipcode}}
            </p>

             </fieldset>

            <p>
                {{form.education.label}}
               {{form.education}}

            </p>


         
          <fieldset id="generalInfo">
            <legend><strong>what fields are you interested in</strong></legend>
            <p>Tell us more about what fields are you interested</p>
            <div class="col1">
              <p>
              {{form.sports.label}}
              {{form.sports}}
</p>
              <p>
              {{form.arts.label}}
              {{form.arts}}
</p>
              <p>
              {{form.travel.label}}
              {{form.travel}}
</p>
            </div>
            <div class="col2">
              <p>
              {{form.music.label}}
              {{form.music}}
</p>
             <p>
             {{form.reading.label}}
             {{form.reading}}
</p>
             <p>
             {{form.gardening.label}}
             {{form.gardening}}
</p>
            </div>
            <div class="col3">
              <p>
              {{form.nature.label}}
              {{form.nature}}
</p>
              <p>
              {{form.snowboard.label}}
              {{form.snowboard}}
</p>
             <p>
             {{form.food.label}}
             {{form.food}}
</p>
            </div>
            <p class="clearBoth">
              {{form.comments.label}}
              {{form.comments}}
            </p>
            <p>Would you like to receive our monthly tour specials newsletter? No, we don't spam or share your information with anyone else. Read our <a href="privacy.htm">privacy policy</a>.</p>
            <p>
              <input name="newsletterYes" type="checkbox" id="newsletterYes" tabindex="280" checked="checked" />
              <label for="newsletterYes" class="inline">Please send me monthly discounts!</label>
              <input type="checkbox" name="newsletterNo" id="newsletterNo" tabindex="290" />
              <label for="newsletterNo" class="inline">No thanks!</label>
            </p>
            <p><span id="errorMessage"></span></p>
            <p>
              <input type="submit"  name="submit2" id="submitBtn" value="Send" tabindex="300" />
            </p>
          </fieldset>
        </form>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>


 <div id="sidebar">
    <div id="specials" class="callOut">
      <h1>People just like you </h1>


    </div>

  </div>




{% endblock %}